<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Roles App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="absolute inset-0 grid [grid-template-areas:'topbar_topbar'_'sidebar_main'] grid-cols-[auto_1fr] grid-rows-[auto_1fr_0]">
      <div class="[grid-area:topbar] bg-blue-200 h-20">
        <div class="flex flex-row justify-between items-center h-20 py-2 px-5">
          <div class="text-2xl font-bold">
            Roles & Goals
          </div>
          <div class="text-xl">
            User Menu
          </div>
        </div>
      </div>
      <div class="[grid-area:sidebar] bg-yellow-200 w-14 md:w-64 p-5">
        <div class="text-xl">
          Sidebar
        </div>
      </div>
      <div class="[grid-area:main] bg-red-200">
        <main class="container p-5 flex">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
